.title-block .title {
    display: inline-block;
    padding: 30px 60px;
    background: #f4f4f4;
    border-radius: 8px;
    font-weight: normal;
    margin-bottom: 10px;
}

.title-block .subtitle {
    display: inline-block;
    padding: 30px 60px;
    background: #e8e8e8;
    border-radius: 8px;
    font-weight: normal;
    margin-bottom: 10px;
}